{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1>
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            </h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Hozzászólások: {{ post.approved_comments.count }}</a>
        </div>
    {% endfor %}

    {% if posts.has_other_pages %}
        <ul class="pagination">
            {% if posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a>
                </li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}">&raquo;</a>
                </li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
    {% comment %}<div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">Előző</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">Következő</a>
            {% endif %}
        </span>
    </div>{% endcomment %}
{% endblock content %}